@model IEnumerable<AppVendasWeb.Models.ItemDaVenda>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 text-light my-5">Produtos</h1>

<p>
    <a asp-action="Create" asp-route-id=@ViewData["VendaId"] class="btn btn-lg btn-outline-light d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="16" height="16" aria-label="Alarms"></svg>Adicionar
    </a>
</p>

<div class="table-responsive">
    <table class="table table-hover" style="background-color: #8D7B68; color:white; border-radius: 7px;">
        <thead class="tabelinha">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td class="text-end">
                        <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ItemDaVendaId">
                            <svg class="mx-2" bootstrap-icon="PencilFill" width="16" height="16" aria-label="Alarms"></svg>
                        </a> |
                        <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ItemDaVendaId">
                            <svg class="mx-2" bootstrap-icon="CardList" width="16" height="16" aria-label="Alarms"></svg>
                        </a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemDaVendaId">
                            <svg class="mx-2" bootstrap-icon="Trash" width="16" height="16" aria-label="Alarms"></svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
