@model IEnumerable<AppVendasWeb.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 text-light my-5">Categoria do Produto</h1>

<p>
    <a class="btn btn-outline-light" asp-action="Create">
        <svg bootstrap-icon="FilePlus" width="24" height="24" aria-label="FilePlus "></svg>
        Adicionar
    </a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="PencilFill" width="24" height="24" aria-label="PencilFill"></svg>
                    Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="CardText" width="24" height="24" aria-label="CardText"></svg>
                    Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId">
                        <svg class="mx-3" bootstrap-icon="Trash" width="24" height="24" aria-label="Trash2Fill"></svg>
                     Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
